*{
padding: 0;
margin: 0;
}


.doto {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

body{
    background-color: blueviolet;
    
}
main{
    display: flex;
    flex-wrap: wrap;
}

h1{
    color: rgb(26, 17, 83);
    font-family: "Doto", sans-serif;
    font-weight: 900;
  font-style: normal;
  text-align: center;
}


.tarjeta{
width: 300px;
background-color: rgb(184, 184, 230);
border-radius: 3%;
/*Centrando elementos*/
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin:10px;
padding: 12px;
border: 3px solid rgb(13, 11, 49);
transition: all 0.4s ease-in-out;
}

.tarjeta:hover{
    background-color: rgb(119, 243, 243);
    transform: scale(1.1);
    transform: rotate(3deg);
}

.tarjeta.imagen{
    width: 200px;
}

.tarjeta img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5%;
}

.tarjeta p{
    color: black;
    
}

#vaso {
    color: blue;
    font-family: "Doto", sans-serif;
    font-weight: 600;
  font-style: normal;
}

#GR {
    color: rgb(138, 27, 8);
    font-family: "Doto", sans-serif;
    font-weight: 600;
  font-style: normal;
}

#Leu {
    color: rgb(44, 115, 115);
    font-family: "Doto", sans-serif;
    font-weight: 600;
  font-style: normal;
}

#Neutrofilo {
    color: rgb(74, 36, 109);
    font-family: "Doto", sans-serif;
    font-weight: 600;
  font-style: normal;
}

#Eosinofilo {
    color: rgb(255, 0, 0);
    font-family: "Doto", sans-serif;
    font-weight: 600;
  font-style: normal;
}